.wrapper {
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 10px;

  label {
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    + label {
      margin-top: 10px;
    }
  }

  input {
    max-width: 150px;
    border: 1px solid darkgray;
    padding: 0 5px;
    &::placeholder {
      font-size: 10px;
    }
  }

  .btn {
    color: #fff;
    background-color: green;
    border-radius: 10px;
    padding: 6px 20px;
    margin-top: 10px;
    &:hover {
      background-color: darkgreen;
      transition: background-color ease 0.3s;
    }
    &:disabled {
      background-color: darkgrey;
    }
  }
}